<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="container">
        <div class="navBar">
            <div class="site-title"><a href="index"> DELICIOUS CORNER </a></div>
            <div class="hamburger ">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
           
            <div class="nav-links">
                    <div><a href="about">ABOUT</a></div>
                    
                    <div class="dropdown">
                        <div class="dropbtn">USER</div>
                        <div class="dropdown-content">
                            <div><a href="login">LOGIN</a></div>
                            <div><a href="register">REGISTER</a></div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="dropbtn">ADMIN</div>
                        <div class="dropdown-content">
                            <div><a href="rLogin">LOGIN</a></div>
                            <div><a href="addRestaurant">REGISTER</a></div>
                        </div>
                    </div>
                    <div><a href="#">HELP</a></div>
                    <div><a href="#">CONTACT</a></div>
            </div>
        </div>

        <div class="heading about"> <span> DELICIOUS CORNER </span></div>
        <div class="content about">It all started with a dream in 2020. A dream to be an entreprenaur!</div>
        <div class="main-content about">Delicios Food lets you end your craving by providing you various options from the restaurants all around the World.
            We serve organized delivery with convinence. If you are visiting us for the first time please experience our service as we have 50% off for the first order. 
        </div>
        <div class="end about">Hope we have convinced you and you will try experincing our service.</div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>