<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering Syatem</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/indexRestaurants.css">
</head>
<body>
    <div class="container">
        <div class="navBar">
            <div class="site-title"><a href="#"> DELICIOUS CORNER </a></div>
            <div class="hamburger ">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="login">LOGIN</a></li>
                    <li><a href="register">REGISTER</a></li>
                    <li><a href="#">HELP</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>

        <div class="restaurants">
            <div class="cards">
                <div class="card1 cardTemp">
                    <div class="image image1"></div>
                    <div class="Rname">UDUPI</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card2 cardTemp">
                    <div class="image image2"></div>
                    <div class="Rname">CCD</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card3 cardTemp">
                    <div class="image image3"></div>
                    <div class="Rname">DINNER PLACE</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card4 cardTemp">
                    <div class="image image4"></div>
                    <div class="Rname">CHULHA CHAUKI</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card5 cardTemp">
                    <div class="image image5"></div>
                    <div class="Rname">WHITE TERRACE</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card6 cardTemp">
                    <div class="image image6"></div>
                    <div class="Rname">BOHO</div>
                    <div class="location">Brookfield Mall</div>
                </div>
                <div class="card7 cardTemp">
                    <div class="image image7"></div>
                    <div class="Rname">MORIS</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card8 cardTemp">
                    <div class="image image8"></div>
                    <div class="Rname">DHABA SOCIAL</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card9 cardTemp">
                    <div class="image image9"></div>
                    <div class="Rname">RAASTA CAFE</div>
                    <div class="location">AECS Layout</div>
                </div>
                <div class="card10 cardTemp">
                    <div class="image image10"></div>
                    <div class="Rname">PIZZA HUT</div>
                    <div class="location">Marathalli</div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>