<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER PAGE</title>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="navBar">
        <div class="site-title"><a href="/"> DELICIOUS CORNER </a></div>
        <div class="hamburger ">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="nav-links">
            
        </div>
    </div>
    <div class="container">
       <div class="registerImage"></div>
        <form action="" method="post" class="registerForm">
            <div class="heading">
                REGISTER HERE.
            </div>
            <div class="formDiv">
                <input type="text" id="name" placeholder="NAME" name="firstName" class="name text-holder">
            </div>
            <div class="formDiv">
                <input type="text" id="lastName" placeholder="LAST NAME" name="lastName" class="lastName text-holder">
            </div>
            <div class="formDiv">
                <input type="email" id="email" placeholder="EMAIL" name="email" class="email text-holder">
            </div>
            <div class="formDiv">
                <input type="password" placeholder="PASSWORD" id="password" name="password" class="pass text-holder">
            </div>
            <div class="formDiv">
                <input type="password" placeholder="CONFIRM PASSWORD" id="confPass" class="confPass text-holder">
            </div>
            <div class="formDiv">
                <input type="text" placeholder="ADDRESS" id="address" name="address" class="address text-holder">
            </div>
            <div class="formDiv">
                <input type="text" placeholder="STATE" id="state" name="state" class="state text-holder">
            </div>
            <div class="formDiv">
                <input type="text" placeholder="PHONE NUMBER" id="contact" name="phone" class="contact text-holder">
            </div>
            <div class="formDiv">
                <input type="text" placeholder="COUNTRY" id="country" name="country" class="country text-holder">
            </div>
            <div class="formDiv">
                <button class="submitButton">SUBMIT</button>
            </div>
            <div class="formDiv forgotPass">
                <span > <a href="login">Already a member? LOGIN </a> </span>
            </div>
        </form>
    </div>

    <script src="js/index.js"></script>
</body>
</html>