*{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: #ededed;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.navBar{
    z-index: 9;
    margin-top: 0;  
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
.site-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
    margin: auto 5px;
    color: whitesmoke;
    padding: 10px;
}

.nav-links{
    margin-right: 10px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hamburger{
    position: absolute;
    right: 0;
    margin-top: 10px;
    /* padding: 1rem; */
    width: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.line{
    height: 0.2rem;
    width: 1.7rem;
    background-color: white;
    border-radius: 35px;
    margin: 2px;
}
.dropbtn{
    font-size: 1.3rem;
    position: relative;
    color: whitesmoke;
}
.dropdown-content{
    z-index: 8;
    background-color: #333333;
    position: absolute;
    display: none;
    padding: 5px;
    border-radius: 5%;
    right: 50px;

}
.nav-links div{
    overflow: hidden;
}
.nav-links div a{
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.dropdown:hover .dropdown-content{
    
    /* width: 100%; */
    padding: 10px;
    display: block;
    /* background-color: blue; */
}
.dropdown-content div a{
    font-size: 1.2rem;
}
.dropdown-content div{
    padding: 10px 0;
}


.content{
    width: 100vw;
}
.pageStart{
    position: relative;
    width: 100%;
    height: 65%;
}
.welcomeImg{
    position: relative;
}
.welcomeContent{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}
.categories .cards{
    height: 220px;
    width: 220px;
    border-radius: 5%;
    border: 2px solid #6e6d6d;
    margin:2%;
    background-color: #637373;
}
.categories .cards .link{
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}
.categoryImg{
    height: 80%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #6e6d6d;
}
.breakfast .categoryImg{
    background-image: url('/images/breakfastCategory.jpg');   
}
.meal .categoryImg{
    background-image: url('/images/mealCategory.jpg');   
}
.dessert .categoryImg{
    background-image: url('/images/dessertCategory.jpg');   
}
.drinks .categoryImg{
    background-image: url('/images/drinksCategory.jpg');   
}
.link, .heading, .footerHeading,.companyHeading,.whoWeAre,.outletHeading{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.categories .cards:hover{
    box-shadow: 0 3px 6px 3px #4c4c4c;
}
.outlets{
    width: 90vw;
    margin: 0 auto;
}
.outletHeading{
    font-size: 1.8rem;
    margin: 20px;
    text-align: center;
    margin-top: 20px;
}
.places{
    display: flex;
    flex-wrap: wrap;
}
.cities{
    width: 20%;
    font-size: 1.2rem;
    padding: 10px;
}
.cities a{
    color: black;
}
.cities a:hover{
    color: #393b44;
}
.footer{
    /* height: 50vh; */
    width: 100vw;
}
.footerHeading{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px;
}
.footerColm{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.company{
    display: flex;
    flex-direction: column;
}
.companyHeading{
    font-size: 1.3rem;
    margin: 10px 0;
}
.whoWeAre{
    margin: 2px 0;
}
.whoWeAre a{
    color: black;
}
.socialLinks .links{
    display: flex;
    height: 50px;
}
.socialLinks div a{
    color: black;
    margin-right: 20px;
    height: 100%;
}
.show{
    display: none;
}
.searchBar{
    overflow: hidden;
    margin: auto ;
    position: relative;
    width: 35%;
}
.searchBar input{
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    padding: 5px 20px;
    width: 100%;
}
.searchBar i{
    position: absolute;
    right: 8px;
    top:2px;
    height: 100%;
    font-size: 1.5rem;
    margin: auto;
}
.cart i{
    font-size: 1.5rem;
}
.profile i{
    font-size: 1.5rem;
}
input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}
@media (max-width: 1200px){
    .site-title{
        font-size: 1.3rem;
    } 
}
@media (max-width: 1000px){
    .site-title{
        font-size: 1.2rem;
    }  
}

@media (max-width: 800px){
    .site-title{
        font-size: 1.2rem;
    }  
    .hamburger{
        display: flex;
    }
    .navBar{
        flex-direction: column;
    }
    .nav-links{
        display: none;
    }
    
    .toggle-active{
        display: block;
    } 
}
@media (max-width: 600px){
    .navBar{
        position: fixed;
    }
    .navBar .nav-links{
        text-align: center;
        width: 100%;
    }
    .dropdown:hover .dropdown-content{
        margin-left: 15%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
   
    }
    .dropdown:hover .dropbtn{
        display: none;
    }
    .site-title{
        font-size: 1rem;
    }  
    .hamburger{
        width: 1.7rem;
        margin-right: 5%;
    }
    .content{
        margin-top: 10%;
        height: auto;
    }
    .content .heading{
        font-size: 1.5rem;
        margin-top: 10%;
    }
    .pageStart{
        height: 30%;
        margin-bottom: 10%;
    }
    .welcomeContent{
        font-size: 1.5rem;
        text-align: center;
    }
    .categories .cards{
        height: 170px;
        width: 170px;
        margin: 1%;
    }
    .categories .cards .link a{
        font-size: 1rem;
    }
    .outlets .outletHeading{
        font-size: 1.5rem;
    }
    .cities{
        width: 30%;
        font-size: 0.8rem;
    }
    .footer .footerHeading{
        font-size: 1.5rem;
    }
    .company .companyHeading{
        font-size: 1.1rem;
        margin: 0;
    }
    .company .whoWeAre{
        font-size: 0.8rem;
    }
}