*{
    box-sizing: inherit;
    overflow-x: hidden;
    /* height: 100%;
    width: 100%; */
}

.container{
    /* background-color: khaki; */
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}
.nav-links{
    width: 35%;
}
.restaurants{
    position: relative;
    height: 100%;
    position: sticky;
    top: 0;
    /* overflow: hidden; */
    /* background-color: aquamarine; */
}
.restaurantHeader{
    /* margin-top: 10%; */
    z-index: 5;
    /* position: fixed; */
    background: linear-gradient(to bottom, #0B0C10, #1f2833);
    /* margin: 4% 5% 0 0%; */
    height: 25%;
    width: 100%;
    display: flex;
    padding: 15px;
    /* position: sticky;
    top:0px; */
    box-shadow: 0 2px 2px 2px  #273341;
}
.restaurantHeader .rImage{
    margin-left: 2%;
    height: 90%;
    /* background-color: brown; */
    width: 20%;
}
.restaurantHeader .rInfo{
    margin-left: 2%;
    width: 70%;
    /* background-color: blueviolet; */
    font-family: 'Roboto Condensed', sans-serif;
}
.restaurantHeader .rInfo .rName{
    font-size: 2rem;
    margin: 2% 0 0 2%;
    color: #66FCF1;
}
.restaurantHeader .rInfo .rAddress{
    font-size: 1.2rem;
    margin: 0 0 0 2%;
    color: #45A29E;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    z-index: 2;
    margin:0;
    /* height: 100%; */
    /* overflow: hidden; */
    /* background-color: lawngreen; */
    position: sticky;
    top: 60%;
}
.content .categories{
    /* z-index: 2; */
    /* position: sticky; */
    /* background-color: brown; */
    
    /* margin-top:0%; */
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
    justify-content: start; 
    padding-left: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    position: sticky;
    top: 0%;
    /* height: 50px; */
    /* border-right: 1px solid #9ba4b4; */
    /* padding: 0% 0 0 2%; */
    /* background-color: #C5C6C7; */
}
.content .categories div{
    margin-top: 5%;
    /* overflow: hidden; */
}
.content .categories div a{
    color: #1f3c88;
}
.categoryHeading{
    width: 100%;
    text-align: center;
    margin: 2%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
    color: #1f3c88;
    text-decoration: underline;
    text-decoration-color: #390153;
}
.cards{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    width: 80%;
    background-color: #C5C6C7;
    /* height: 90%; */
    margin: 5px 0 0 20% ;
    position: absolute;
    border-left: 1px solid black;
}
.cardTemp{
    position: relative;
    box-sizing: border-box;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    justify-content: center;
    border-radius: 5%;
    padding: 0;
    box-shadow: 0 1px 2px 1px black;
}
.cardTemp .image{
    height: 80%;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: violet;
}

.cardTemp .pInfo{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #383838;
    color: whitesmoke;
    overflow: hidden;
}
.cardTemp .Pname{
    font-size: 1.2rem;
}
.cardTemp .cart{
    /* display: none; */
    overflow: hidden;
    position: absolute;
    display: flex;
    background-color: rgba(39, 39, 39, 0.5);
    height: 0%;
    width: 100%;
    bottom: 0;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: height 0.5s ease;
    margin: auto;
    /* opacity: 0; */
}
.cardTemp:hover .pInfo{
    display: none;
}
.cardTemp:hover .image{
    height: 100%;
    filter: blur(2px);
}
.cardTemp:hover .cart{
    height: 100%;
    /* transition: height 5s ease; */
}
/* .cardTemp .cart span{
    overflow: hidden;
} */
/* .deleteProduct{
    overflow: hidden;
    height: 25px;
} */
/* .errMsg{
    text-align: center;
    color: crimson;
    font-family: 'Aclonica', sans-serif;
    font-size: 1.2rem;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
}
@keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
      position: absolute;     
    }
  } */

  @media (max-width: 600px){
    .navBar .nav-links{
        text-align: center;
        width: 100%;
    }
    .restaurantHeader{
        margin-top: 10%;
        height: 12%;
    }
    .restaurantHeader .rimage{
        width: 35%;
        height: 100%;
    }
    .restaurantHeader .rInfo .rName{
        font-size: 1.5rem;
    }
    .restaurantHeader .rInfo .rAddress{
        font-size: 1.2rem;
    }
    .content .categories{
        padding-left: 1%;
        width: 30%;    
    }
    .content .categories .category a{
        font-size: 1.1rem;
    }
    .content .cards{
        width: 70%;
        margin: 0 0 0 30%;
        justify-content: center;
    }
    .cardTemp{
        width: 150px;
        height: 150px;
    }
    .cardTemp .image{
        height: 80%;
    }
    .cardTemp .pInfo{
        height: 20%;
    }
}
