.productId{
    display: none;
}
.changeStatusDiv{
    background-color: #0d7377;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.changeStatusForm{
    padding: 3% 1%;
    position: relative;
    height: 250px;
    width: 400px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5%;
}
.changeStatusForm div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.changeStatusForm div span{
    /* width: 50%; */
    margin: 0 5px;
    color: #32e0c4;
}
.changeStatusForm div input{
    font-family: 'Roboto Condensed', sans-serif;
    height: 30px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    color: #212121;
}
.changeStatusForm div button{
    width: 80%;
    height: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #212121;
    border-radius: 20px;
}
input:focus, textarea:focus, select:focus, button:focus{
    border-radius: 20px;
    border: 2px solid #a6a6a4;
    outline: none;
}
.selectedOrderId{
    width: 20%;
}
.show{
    display: none;
}
.close{
    position: absolute;
    right: 10px;
    top: 0;
    color: whitesmoke;
}